.button-container{
    // background-color: green;
}
body{
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
}
.ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.navbar{
    position: sticky;
    top: 0%;
    background-color: green;
    height: 10vh;
    padding: 2px;
}
.li{
  list-style: none;
  list-style-type: none;
}
.arc{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    color: black;
    font-weight: 700;
    overflow: hidden;
    transition: all;
}
.arc:hover , .arc:visited{
    background-color: cyan;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 1s;
    overflow: hidden;
}